<%- include('../partials/head.ejs') -%>
<link rel="stylesheet" href="css/equipaments.css">
</head>
<body>
    <div class="hidden-window">
        <div class="panel-header">
            <div class="header-container">
                <h1 class="header-raleway">Novo Cliente</h1>
            </div>
            <div class="panel-body">
                <form action="/novocliente" method="post">
                    <label for="client-name">
                        Nome*: <br>
                        <input type="text" name="clientName" id="client-name" required>
                    </label>
                    <label for="client-Cnpj">
                        cnpj: <br>
                        <input type="number" name="clientCnpj" id="client-Cnpj" required>
                    </label>
                    <div class="form-footer">
                        <button class="close-window btn-ghost">Cancelar</button>
                        <button type="submit" class="btn-cta">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/aside-menu.ejs') -%>
    <div id="main-panel" class="main-content">
        <div class="panel-header">
            <div class="header-container">
                <h1 class="header-raleway">Cliente</h1>
            </div>
            <div class="panel-actions">
                <div class="search-bar">
                    <input type="search" name="equipament-search" placeholder="Pesquisar...">
                    <button type="submit">
                        <img src="icons/search.svg" alt="Pesquisar">
                    </button>
                </div>
                <div class="add-equipament-div">
                    <button class="add-equipament btn-ghost">Novo Cliente</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table>
                <thead>
      
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Ação</th>
                </thead>
                <% for(i in clients) { %>
                    <tr>
              
                        <td><%= clients[i].name %> </td>
                        <td><%= clients[i].cnpj %> </td>
                        

                        <td>
                        <button id="delete-client" class="btn-text"> 
                            <a href="/clients/delete-client/idCliente=<%= clients[i].idCliente %>">Excluir</a>
                        </button>
                        <button id="update-cliente" class="btn-text edit-client">
                            <a href="/update-cliente-<%= clients[i].idCliente %>">Editar</a>
                        </button>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>

    </div>

    <script type="module" src="js/hiddenWindow.js"></script>
</body>
</html>