<%- include('../partials/head.ejs') -%>
    <link rel="stylesheet" href="css/equipaments.css">
    </head>

    <body>
        <%- include('../partials/aside-menu.ejs') -%>
    <div class="center"> 
        <div class="panel-header">
            <div class="header-container">
                <h1 class="header-raleway">Editar Equipamento</h1>
            </div>
            <div class="panel-body" id="center">
                <form action="/update-equip-<%= selectedEquipament.idequipamentos %>" method="post">
                    <label for="equipament-name">
                        Nome: <br>
                        <input type="text" name="equipamentName" id="equipament-name" required>
                    </label>
                    <label for="equipament-serial-number">
                        Serial Number: <br>
                        <input type="text" name="equipamentSerialNumber" id="equipament-serial-number" required>
                    </label>
                    <label for="equipament-part-number">
                        Part Number: <br>
                        <input type="text" name="equipamentPartNumber" id="equipament-part-number" required>
                    </label>
                    <label for="equipament-description">
                        Descrição: <br>
                        <input type="text" name="equipamentDescription" id="equipament-description">
                    </label>
                    <label for="equipament-quantidade">
                        Quantidade: <br>
                        <input type="number" name="equipamentQuantidade" id="equipament-quantidade">
                    </label>
                    <label for="equipament-Status">
                        Status: <br>
                        <select name="equipamentStatus" id="equipament-Status">
                            <option value="Disponivel" selected>Disponivel</option>
                            <option value="Ocupado">Ocupado</option>
                        </select>
                    </label>
                    <label for="equipament-cliente_idCliente" class="clientResponsible">
                        Cliente Portador: <br>
                        <select name="clientResponsible" id="clientResponsible" disabled="">
                            <% for(i in clientes) { %>
                                <option value="<%= clientes[i].idCliente %>"><%= clientes[i].name %> </option>
                            <% } %>
                        </select>
                    </label>
                    <div class="form-footer">
                        <button class="close-window btn-ghost">Cancelar</button>
                        <button type="submit" class="btn-cta">Salvar</button>
                    </div>
                </form>
            </div>
        </div>  
        </div>
    </body>

    <script type="module" src="js/toggleStatus.js"></script>

    </html>