<%- include('../partials/head.ejs') -%>
<link rel="stylesheet" href="css/equipaments.css">
</head>
<body>
    <div class="hidden-window">
        <div class="panel-header">
            <div class="header-container">
                <h1 class="header-raleway">Novo Equipamento</h1>
            </div>
            <div class="panel-body">
                <form action="/novoequipamento" method="post">
                    <%- include('../partials/hiddenWindow.ejs') -%>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/aside-menu.ejs') -%>
    <div id="main-panel" class="main-content">
        <div class="panel-header">
            <div class="header-container">
                <h1 class="header-raleway">Equipamentos</h1>
            </div>
            <div class="panel-actions">
                <div class="search-bar">
                    <form action="/equipaments-result" method="GET">
                        <input type="search" name="searchQuery" placeholder="Pesquisar..."
                            id="left-search">
                        <button type="submit">
                            <img src="icons/search.svg" alt="Pesquisar">
                        </button>
                    </form>
                </div>
                <div class="add-equipament-div">
                    <button class="add-equipament btn-ghost">Novo Equipamento</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table>
                <thead>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Serial Number</th>
                    <th>Part Number</th>
                    <th>Status</th>
                    <th>Ação</th>
                </thead>
                <% for(i in equipamentos) { %>
                    <tr>
                        <td><%= equipamentos[i].idequipamento %> </td>
                        <td><%= equipamentos[i].name %> </td>
                        <td><%= equipamentos[i].serialNumber %> </td>
                        <td><%= equipamentos[i].partNumber %> </td>
                        <td><%= equipamentos[i].status %> </td>

                        <td>
                            <button id="delete-equipaments" class="btn-text">
                                <a href="/equipaments/delete-equip/idequipamento=<%= equipamentos[i].idequipamento %>">Excluir</a>
                            </button>
                            <button id="update-equipaments" class="btn-text edit-equipament">
                                <a href="/update-equip-<%= equipamentos[i].idequipamento %>">Editar</a>
                            </button>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>

    </div>

    <script type="module" src="js/hiddenWindow.js"></script>
</body>
</html>