<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/home.css">
    </head>

    <body>
        <div class="hidden-window">
            <div class="panel-header">
                <div class="header-container">
                    <h1 class="header-raleway">Transferir Equipamento</h1>
                </div>
                <div class="panel-body">
                    <form action="" method="post" id="hiddenForm">
                        <label for="equipament-quantidade">
                            Quantidade: <br>
                            <input type="number" name="equipamentQuantidade" id="equipament-quantidade">
                        </label>
                        <label for="equipament-cliente_idCliente">
                            Cliente Portador: <br>
                            <select name="clientResponsible" id="clientResponsible">
                                <% for(i in clientes) { %>
                                    <option value="<%= clientes[i].idcliente %>"><%= clientes[i].name %> </option>
                                <% } %>
                            </select>
                        </label>
                        <div class="form-footer">
                            <button type="reset" class="close-window btn-ghost">Cancelar</button>
                            <button type="submit" class="submitForm btn-cta">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../partials/aside-menu.ejs') %>
            <div id="menu-container" class="main-content">
                <div class="left-side">
                    <div class="side-header">
                        <h1 class="header-franklin">DISPONÍVEIS</h1>
                    </div>
                    <div class="side-search-options">
                        <div class="search-bar">
                            <form action="/search-result" method="GET">
                                <input type="search" name="availableSearchBar" placeholder="Pesquisar..."
                                    id="left-search">
                                <button type="submit">
                                    <img src="icons/search.svg" alt="Pesquisar">
                                </button>
                            </form>
                        </div>
                        <!-- <select name="filter-select" class="filter">
                            <option value="name">Nome</option>
                            <option value="type">Tipo</option>
                            <option value="brand">Marca</option>
                        </select> -->
                    </div>
                    <div class="side-items available-side">
                            <% for(i in availableEquipaments) { %>
                                <div class="item-box" draggable="true" equipId="<%= availableEquipaments[i].idequipamentos %>">
                                    <div class="item-details">
                                        <h2>
                                            <%= availableEquipaments[i].name %>
                                        </h2>
                                        <h3>
                                            Serial: <%= availableEquipaments[i].serialNumber %>
                                        </h3>
                                        <h3>
                                            Part: <%= availableEquipaments[i].partNumber%>
                                        </h3>
                                    </div>
                                </div>
                            <% } %>
                    </div>
                </div>

                <div class="line-divisor"></div>

                <div class="left-side">
                    <div class="side-header">
                        <h1 class="header-franklin">OCUPADOS</h1>
                    </div>
                    <div class="side-search-options">
                        <div class="search-bar">
                            <form action="/search-result" method="GET">
                                <input type="search" name="occupiedSearchBar" placeholder="Pesquisar..."
                                    id="left-search">
                                <button type="submit">
                                    <img src="icons/search.svg" alt="Pesquisar">
                                </button>
                            </form>
                        </div>
                        <!-- <select name="filter-select" class="filter">
                            <option value="name">Nome</option>
                            <option value="type">Tipo</option>
                            <option value="brand">Marca</option>
                        </select> -->
                    </div>
                    <div class="side-items occupied-side">
                            <% for(i in occupiedEquipaments) { %>
                                <div class="item-box" draggable="true" equipId="<%= occupiedEquipaments[i].idequipamentos %>">
                                    <div class="item-details">
                                        <h2>
                                            <%= occupiedEquipaments[i].name %>
                                        </h2>
                                        <h3>
                                            Serial: <%= occupiedEquipaments[i].serialNumber%>
                                        </h3>
                                        <h3>
                                            Part: <%= occupiedEquipaments[i].partNumber%>
                                        </h3>
                                        <h3>
                                            Responsável: <%= occupiedEquipaments[i].responsavel%>
                                        </h3>
                                    </div>
                                </div>
                            <% } %>
                    </div>

                </div>
            </div>

            <script type="module" src="js/dragAndDrop.js"></script>
    </body>

    </html>