<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/home.css">
    </head>

    <body>
        <%- include('../partials/aside-menu.ejs') %>
            <div id="menu-container" class="main-content">
                <div class="left-side">
                    <div class="side-header">
                        <h1 class="header-franklin">DISPONÍVEIS</h1>
                    </div>
                    <div class="side-search-options">
                        <div class="search-bar">
                            <form action="/available-result" method="GET">
                                <input type="search" name="availableSearchBar" placeholder="Pesquisar..."
                                    id="left-search">
                                <button type="submit">
                                    <img src="icons/search.svg" alt="Pesquisar">
                                </button>
                            </form>
                        </div>
                        <select name="filter-select" class="filter">
                            <option value="name">Nome</option>
                            <option value="type">Tipo</option>
                            <option value="brand">Marca</option>
                        </select>
                    </div>
                    <div class="side-items">
                        <% if (locals.searchQuery) { %>
                            <% for(i in availableEquipaments) { %>
                                <div class="item-box">
                                    <div class="item-details">
                                        <h2>
                                            <%= availableEquipaments[i].name %>
                                        </h2>
                                        <h3>
                                            <%= availableEquipaments[i].status %>
                                        </h3>
                                        <h3>
                                            <%= availableEquipaments[i].serialNumber%>
                                        </h3>
                                    </div>
                                </div>
                                <% } %>
                                    <% } else if (locals.allEquipaments){%>
                                        <% for(i in allEquipaments) { %>
                                            <% if (allEquipaments[i].status === 'Disponível') { %>
                                            <div class="item-box">
                                                <div class="item-details">
                                                    <h2>
                                                        <%=allEquipaments[i].name %>
                                                    </h2>
                                                    <h3>
                                                        <%=allEquipaments[i].status %>
                                                    </h3>
                                                    <h3>
                                                        <%=allEquipaments[i].serialNumber%>
                                                    </h3>
                                                </div>
                                            </div>
                                            <% } } } %>
                    </div>
                </div>

                <div class="line-divisor"></div>

                <div class="left-side">
                    <div class="side-header">
                        <h1 class="header-franklin">OCUPADOS</h1>
                    </div>
                    <div class="side-search-options">
                        <div class="search-bar">
                            <input type="search" name="available-search-bar" placeholder="Pesquisar...">
                            <button type="submit">
                                <img src="icons/search.svg" alt="Pesquisar">
                            </button>
                        </div>
                        <select name="filter-select" class="filter">
                            <option value="name">Nome</option>
                            <option value="type">Tipo</option>
                            <option value="brand">Marca</option>
                        </select>
                    </div>
                    <div class="side-items">
                        <% if (locals.searchQuery) { %>
                            <% for(i in availableEquipaments) { %>
                                <div class="item-box">
                                    <div class="item-details">
                                        <h2>
                                            <%= availableEquipaments[i].name %>
                                        </h2>
                                        <h3>
                                            <%= availableEquipaments[i].status %>
                                        </h3>
                                        <h3>
                                            <%= availableEquipaments[i].serialNumber%>
                                        </h3>
                                    </div>
                                </div>
                                <% } %>
                                    <% } else if (locals.allEquipaments){%>
                                        <% for(i in allEquipaments) { %>
                                            <% if (allEquipaments[i].status === 'Ocupado') { %>
                                            <div class="item-box">
                                                <div class="item-details">
                                                    <h2>
                                                        <%=allEquipaments[i].name %>
                                                    </h2>
                                                    <h3>
                                                        <%=allEquipaments[i].status %>
                                                    </h3>
                                                    <h3>
                                                        <%=allEquipaments[i].serialNumber%>
                                                    </h3>
                                                </div>
                                            </div>
                                            <% } } } %>
                    </div>

                </div>
            </div>

            <script type="module" src="configdb.js"></script>
    </body>

    </html>