<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/home.css">
    </head>

    <body>
        <div class="hidden-window">
            <div class="panel-header">
                <div class="header-container">
                    <h1 class="header-raleway">Editar Equipamento</h1>
                </div>
                <div class="panel-body">
                    <form action="/novoequipamento" method="post">
                        <%- include('../partials/hiddenWindow.ejs') -%>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../partials/aside-menu.ejs') %>
            <div id="menu-container" class="main-content">
                <div class="left-side">
                    <div class="side-header">
                        <h1 class="header-franklin">DISPONÍVEIS</h1>
                    </div>
                    <div class="side-search-options">
                        <div class="search-bar">
                            <form action="/search-result" method="GET">
                                <input type="search" name="availableSearchBar" placeholder="Pesquisar..."
                                    id="left-search">
                                <button type="submit">
                                    <img src="icons/search.svg" alt="Pesquisar">
                                </button>
                            </form>
                        </div>
                        <!-- <select name="filter-select" class="filter">
                            <option value="name">Nome</option>
                            <option value="type">Tipo</option>
                            <option value="brand">Marca</option>
                        </select> -->
                    </div>
                    <div class="side-items">
                            <% for(i in availableEquipaments) { %>
                                <div class="item-box" draggable="true">
                                    <div class="item-details">
                                        <h2>
                                            <%= availableEquipaments[i].name %>
                                        </h2>
                                        <h3>
                                            <%= availableEquipaments[i].status %>
                                        </h3>
                                        <h3>
                                            <%= availableEquipaments[i].serialNumber %>
                                        </h3>
                                        <h3>
                                            <%= availableEquipaments[i].quantidade%>
                                        </h3>
                                        <h3>
                                            <% for(i in clientes) { %>
                                                <% if (clientes[i].idCliente == availableEquipaments[i].cliente_idCliente) { %>
                                                    <%= clientes[i].name %>
                                                <% } %>
                                            <% } %>
                                        </h3>
                                    </div>
                                </div>
                            <% } %>
                    </div>
                </div>

                <div class="line-divisor"></div>

                <div class="left-side right-side">
                    <div class="side-header">
                        <h1 class="header-franklin">OCUPADOS</h1>
                    </div>
                    <div class="side-search-options">
                        <div class="search-bar">
                            <form action="/search-result" method="GET">
                                <input type="search" name="occupiedSearchBar" placeholder="Pesquisar..."
                                    id="left-search">
                                <button type="submit">
                                    <img src="icons/search.svg" alt="Pesquisar">
                                </button>
                            </form>
                        </div>
                        <!-- <select name="filter-select" class="filter">
                            <option value="name">Nome</option>
                            <option value="type">Tipo</option>
                            <option value="brand">Marca</option>
                        </select> -->
                    </div>
                    <div class="side-items occupied-side">
                            <% for(i in occupiedEquipaments) { %>
                                <div class="item-box" draggable="true">
                                    <div class="item-details">
                                        <h2>
                                            <%= occupiedEquipaments[i].name %>
                                        </h2>
                                        <h3>
                                            <%= occupiedEquipaments[i].status %>
                                        </h3>
                                        <h3>
                                            <%= occupiedEquipaments[i].serialNumber%>
                                        </h3>
                                        <h3>
                                            <%= occupiedEquipaments[i].quantidade%>
                                        </h3>
                                    </div>
                                </div>
                            <% } %>
                    </div>

                </div>
            </div>

            <script type="module" src="js/dragAndDrop.js"></script>
    </body>

    </html>